--modules-folder /var/tmp/yarn/ng10/node_modules/
--registry "http://registry.npmjs.org"
--cache-folder /var/tmp/yarn/cache/
--network-timeout 600000000
--strict-ssl false
--https-proxy ""
--http-proxy ""
--proxy ""
